* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, Verdana;
  font-size: 18px;
}

/* mise en forme de la nav */
h1 {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #808080;
  padding: 15px 25px;
  background-color: #808080;
  color: #fff;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  padding: 30px 50px 25px 50px;
  color: #fff;
  font-weight: bold;
}

nav ul li :hover {
  color: #0b1d3a;
  box-shadow: 1px -1px 1px #0b1d3a;
  /* z-index: 10; 
  position: relative; */
}

nav {
  display: flex;
  align-items: center;
}
#cell {
  border: 1px solid #000;
  padding: 8px;
  border-radius: 20px;
  background-color: #000;
}

#cell a {
  text-decoration: none;
  color: #fff;
}

/* mise en forme de la section Acceuil */

#sect1 {
  background-color: rgb(130, 130, 148);
  color: #fff;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(130, 130, 148);
}
/* les bouttons */
#realise {
  background-color: black;
  color: #fff;
  border: 1px solid black;
  padding:  10px;
  box-shadow: -2px 2px 3px black;

}

#realise a{
  text-decoration: none;
  color: #fff;
}
/* 
#lire {
  border: 1px solid #000;
  padding: 10px 50px;
  background-color: #808080;
  box-shadow: 2px -2px 3px black;
} */

/* le div1 */
.madiv1 {
  align-items: center;
  padding: 100px 0px 0px 200px;
  color: #000;
}

.madiv1 p{
  margin: 0px;
  padding: 0px;
}
.madiv1 h2 {
  font-size: 25px;
}
span {
  font-size: 25px;
  color: #00f;
}

/* image d'acceuil */

.monImage {
  padding: 0 400px 0 0;
  overflow: hidden;
}



/* fin de la section acceuil  */

/* debut de la section A propos */

#sect2 {
  background-color: #0b1d3a;
  color: #fff;
  text-align: center;
  overflow: hidden;
  padding: 20px;
}

#madiv2 h2 {
  font-size: 25px;
  padding: 0px 0 25px 0;
}

#madiv3 {
  display: flex;
  justify-content: center;
}
.dive {
  padding: 20px 50px 20px 50px;
}
/* fin de la section a propos  */
/* debut de la section services */

#sect3 {
  text-align: center;
  overflow: hidden;
  padding: 20px;
  border-bottom: 1px solid white;
}

#sect3 h2 {
  font-size: 25px;
  padding: 0px 0 25px 0;
}

#madiv5 {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 2rem;
}

.grid {
   text-align: center;
   padding-top: 10px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 50px;
  /* text-align: left; */
  background-color: ghostwhite;
  border-radius: 1rem;
  box-shadow: -2px 2px 2px;
}

#madiv5 :hover{

transform: scale(1.2);
transition: 2s;
}

#madiv5 .grid h4 {
  padding: 10px 0 10px 0;
}

#madiv5 i {
  font-size: 35px;
  color: rgb(130, 130, 148);
}

/* fin de la section services */

/* debut de la section mes realisations */

#sect4{
   align-items: center;
   padding: 0px;
  background-color: #0b1d3a;
   
   
}


#madiv6{
  text-align: center;
  background-color:rgb(130, 130, 148) ;
}

#madiv6 h2{
  font-size: 25px;
  padding: 15px 0px 25px 0;
}

#madiv6 p{
  padding: 0px 0px 50px 0;
}

#madiv7{
  display: flex;
  padding: 0px 200px 20px 300px ;

}



#madiv7 h4{
  text-align: center;
  
}

#madiv7 img{
  padding: 30px;
  width: 350px;
  height: 250px;
}

#madiv7 #pbtn{
  text-align: center;
  padding: 50px;
  
  
}

#madiv7  p{
  font-size: 18px;
  padding-bottom: 15px;
  color: #fff;
}

#madiv7 hr {
  border: 2px solid #000;
  padding: 20px 0px 20px 0px;
}


.btn{
   background-color: black;
  color: #fff;
  border: 1px solid black;
  padding: 10px 20px 10px 20px;
  box-shadow: -2px 2px 3px black;
}

.btn a{
  text-decoration: none;
}
/* fin de mes realisations */
/* mise en forme de mes competences */

#madiv8{
  text-align: center;
}

#madiv8 h2{
  font-size: 25px;
  padding: 20px 0 25px 0;
  font-weight: bold;
}

.cdev{
  padding: 20px;
}

/* .bar-progres{
  background-color: #e0e0e0;
  border-radius: 20px;
  overflow: hidden;
  height: 25px;
  width :300px;
} */

.progress{
  background-color: #0b1d3a;
  height: 100%;
  width: 110%;
  color: #fff;
  text-align: right;
  padding-right: 10px;
  line-height: 15px;
  font-weight: bold;
  transition: width 2s ease-in-out;
}

/* fin de la section  mes competances */
/* enregistrement */

#enreg {
  /* padding: 6vw 16vw 6vw 0vw; */
  padding: 80px 89px 40px 80px;
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),
    url(pc.jpg);
  display: flex;
  justify-content: space-between;
  background-size: cover;
  width: 200vh;
  height: 85vh;
  background-position: center;
  overflow: hidden;
  /* padding-bottom: 7%; */
}

#enreg h3 {
  color:#0b1d3a;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding-bottom:20PX ;
}

#enreg .div15 {
  color: #fff;
  padding: 15% 25px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}

#enreg .div15 i,h2 {
  font-size: 70px;
}

#enreg .form {
  padding: 40px 60px 0px 60px;
  display: flex;
  background: #fff;
  flex-direction: column;
  border-radius: 8px;
}

#enreg .form input {
  margin: 25px 0px;
  padding: 10px 15px;
  border: 1px solid rgba(32, 38, 135, 0.37);
  box-shadow: -7px 3px 3px 3px;
  background-color: rgba(148, 145, 182, 0.3);
}

#enreg .form .div16 a {
  text-decoration: none;
  text-align: center;
  padding: 8px;
  color: white;
  box-shadow: -7px 1px 1px 1px;
  border-radius: 5px;
}

#enreg .form .div16 a:hover {
  color: cadetblue;
}

#enreg .form .div16 {
  padding: 15px 35px 15px 35px;
  background-color: #0b1d3a;
}

/* fin de la section enregistrement */
/* debut du footer */

/* footer */

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:30px 30px 0px 30px;
  margin-top: 0px;
  background-color: rgba(32, 38, 135, 0.37);
  cursor: pointer;
}

#footer h3 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}

.div18 i{
  font-size: large;
  font-weight: bold;
}

#footer .div19 input {
  border-radius: 10px;
  border: 1px solid ;
  padding: 15px;
  background-color: rgba(5, 4, 46, 0.7);
  box-shadow: -2px 1px 1px 3px;
  text-align: center;
  margin-left: 70px;


}
#footer ::placeholder{
  color: #fff;
}

#footer .div19 i {
  font-size: 30px;
  padding: 30px 10px 2px 10px;
}

.div19 .div20{
  padding-left: 15%;
}


#footer .div19 i a {
  text-decoration: none;
  font-weight: bold;
   
}

#footer .div19 i a:hover {
  color: rgba(9, 5, 54, 0.3);
}

#footer .p2 {
  box-shadow: -2px 1px 1px 1px;
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: bold;
}

#footer .p2:hover {
  background-color: rgba(9, 5, 54, 0.3);
}

#footer button{
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  margin-left: 150px;
  background-color: #0b1d3a;
  color: #fff;

}

